/* Add your custom styles here */

/* Example styles for logo and nav links */
.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-toggler {
        margin: 10px 0;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        display: block;
        margin: 0;
        padding: 0;
    }

    .navbar-nav .nav-item {
        margin: 0;
        display: block;
    }
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.about-section {
    background-color: #add8e6; /* Light blue background */
    padding: 50px;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lottie-animation,
.image-content {
    flex: 1;
}

.lottie-animation {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
}

.image-content {
    margin-left: 20px; /* Adjust the margin as needed */
}

.text-content {
    max-width: 600px;
    margin-left: 20px; /* Adjust the margin as needed */
    text-align: left;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

/* Add responsive styles here */

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .lottie-animation,
    .image-content {
        margin-bottom: 20px;
        width: 100%;
    }

    .text-content {
        margin-left: 0;
    }
}
